/* Basic Body Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: black;
    color: white;
}
/* Header Styling */
header {
    background-color:orangered;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid orangered;
}